body{
    background-color: aquamarine;
    margin: 0;
    
}

.header{
    width: auto;
    height: 150px;
    background-color: midnightblue;
}
.block{
    width: 250px;
    height: 250px;
    
    margin: 100px 45px 100px 45px;
    /* margin: 100px 50px 0 75px; */
}
.one{
    background-color: chocolate;
}
.two{
    background-color: mediumseagreen;
}
.three{
    background-color: yellow;
}
.four{
    background-color: red;
}
.five{
    background-color: blue;
}
.content-one{
    width: auto;
    height: auto;
    background-color: rgb(87, 209, 209);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}